:root {
    /* Light Mode */
    --bg-dark: #e5e5e5;
    --bg: #f2f2f2;
    --bg-light: #ffffff;

    --accent: #d3a9ff;

    --border: #cccccc;
    --border-focus: #999999;

    --text: #000000;
    --text-muted: #666666;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-dark: #000000;
        --bg: #0d0d0d;
        --bg-light: #1a1a1a;

        --accent: #490098;

        --border: #333333;
        --border-focus: #666666;

        --text: #ffffff;
        --text-muted: #999999;
    }
}