:root {
	--font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

	--font-size-xs: 12px;
	--font-size-sm: 15px;
	--font-size-base: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;
	--font-size-2xl: 24px;
	--font-size-3xl: 32px;

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	--line-height-tight: 18px;
	--line-height-base: 19px;
	--line-height-md: 22px;
	--line-height-lg: 24px;
	--line-height-xl: 29px;
	--line-height-2xl: 39px;
}
